{% extends 'hod_template/base_template.html' %}
{% block page_title %}Manage Course{% endblock page_title %}
{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Course Details</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width:200px;">
                <input type="text" id="table_search" class="form-control float-right" placeholder="Search...">
                <div class="input-group-append">
                  <button type="button" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap" id="course_table">
              <thead>
                <tr><th>ID</th><th>Course Name</th><th>Action</th></tr>
              </thead>
              <tbody>
              {% for course in courses %}
                <tr>
                  <td>{{ course.id }}</td>
                  <td>{{ course.course_name }}</td>
                  <td><a href="/edit_course/{{ course.id }}" class="btn btn-success btn-sm">Edit</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main_content %}
{% block custom_js %}
<script>
$("#table_search").on("keyup", function(){
    var val = $(this).val().toLowerCase();
    $("#course_table tbody tr").filter(function(){
        $(this).toggle($(this).text().toLowerCase().indexOf(val) > -1);
    });
});
</script>
{% endblock custom_js %}
